html,
body {
    font-family: 'font-family: "Inter", sans-serif;';
}

.navbar {
    background-color: rgba(255, 160, 60, 0.62);
}

.nav-item {
    color: black;
    font-size: 18px;
}

.nav-item a {
    color: inherit
}

.header {
    background-image: url(./../img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100%;
}

.header-logo {}

.header-text {
    max-width: 250px;
    margin: 0 auto;
}

.header-btn {
    margin-top: 250px;
}

.inv {
    color: transparent;
    padding-bottom: 90px;
}

.mission-wrapper{
  max-width: 1274px;
  margin: 0 auto;
  /* background: linear-gradient(to bottom,#BA7D60 100%, #54382B 50% ); */
  border-radius: 40px;
  background-color: #D4B9AD;
}

h1 {
  padding-top: 44px;
  /* настройки самого шрифта, размер, начертание, верхний регистр всех символов */
  font-size: calc(1.5rem + 6 * (100vw - 320px) / 880);
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  /* линейный градиент, слева на право, 3 цвета */
  background-image: linear-gradient(56deg, #08254F 0%, #CC6140 100%);
  /* обрезаем фон по тексту */
  -webkit-background-clip: text;
  /* меняет цвет текста заголовка на прозрачный что бы можно было увидеть градиент*/
  -webkit-text-fill-color: transparent;
}

.mission {
    
    margin-top: 20px;
    color: white;
}

/* h1 {
    padding-top: 45px;
    background: linear-gradient(56deg, #FFA03C 100%, #CC6140 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-weight: bold;
} */

.mission-text{
    font-size:2rem ;
    margin-top: 90px;
    max-width: 765px;
    margin-left:auto;
    margin-right: auto;
}

.mission-author{
    font-size: 1.875rem;
    margin-top: 70px;
}

.mission-author span{
    font-size: 1.563rem;
    font-weight: bold;
}

.header-logo{
  padding-top: 100px;
}




.petedsa_lopdsan{
    max-width: 1120px;
    width: 100%;
    padding-bottom: 40px;
    margin-top: -35px;
  }

  .slider-title{

  }

  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #265DF2;
  }
  
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
    margin: 0 10px;
    }
    .swiper-navBtn{
    display: none;
    }
  }

  @media screen and (max-width: 768px){
    .header{
      background-image: url(/img/mobile-bg.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      height: 100%;   
    }
  }


.slide{
  max-width: 1274px;
  background-color: #08254F;
  margin: 0 auto;
  border-radius: 40px;

}

.carousel-inner{
  max-width: 1274px;
  border-radius: 40px;
}


.slide1-title{
  padding-top: 30px;
  text-align: center;
  /* font-size: calc(1.5rem + 6 * (100vw - 320px) / 880);
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  /* линейный градиент, слева на право, 3 цвета */
  background-image: linear-gradient(75deg, #FFA03C 0%, #CC6140 100%);
  /* обрезаем фон по тексту */
  -webkit-background-clip: text;
  /* меняет цвет текста заголовка на прозрачный что бы можно было увидеть градиент*/
  -webkit-text-fill-color: transparent;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  display: none;
}
.button{
  display: none;
}




.slide-items{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;

}

.slide-item__subtitle{
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  max-width: 200px;
}

.slide-item__text{
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  text-align: center;
  max-width: 200px ;
  padding-bottom: 70px;
}

.slide2-items{
  display: flex;
  justify-content: space-between;
  color: #fff;
  max-width: 900px;
  margin: 0 auto;

}


.slide2-item__img img{
  max-width: 400px;
  border-radius: 20px;
}

.achivm{
  background-image: linear-gradient(rgba(8, 37, 79, 0.5), rgba(8, 37, 79, 0.5)), url(./../img/results-bg.jpg);
  background-position: top;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  margin-top: 60px;
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  color: #08254F;
}

.achiv-title{
  font-size: 32px;
  padding-top: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.col1{
  color: #08254F;
  font-size: 25px;
  font-weight: 600;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  max-width: 550px;
}
.col{
  color: #08254F;
  font-size: 25px;
  font-weight: 600;
  background-color: #fff;
  border-radius: 20px;
}
.col1-text{
  margin-top: -20px;
}





.achiv-title__numbers{
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.achiv-title__numbers span{
  color: #FF4343;
}

.col2{
  background-color: #fff;
  border-radius: 20px;
  max-width: 350px;
}

.col2-years{
  font-size: 30x;
  text-shadow: 1px 1px 2px black;
  font-weight: 700;
}
.students{
  display: flex;
  justify-content: space-around;
}

.students-1{
  border-right: 2px solid #000;
}

.students-1 , .students-2{
  font-size: 24px;
  font-weight: 700;
  text-shadow: 1px 1px 2px black;
  max-width: 178px;
  width: 100%;

}

.students-1 span , .students-2 span{
  font-size: 32px;
  color:#FF4343
}

.row1{
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.row2{
  margin-top: 50px;
}

.col3{
  max-width: 450px;
  width: 100%;
}

.test{
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  padding-top: 10px;
}

.test-left{
  max-width: 210px;
  width: 100%;
  vertical-align: middle;
}

.test-right__text{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.361);
  border-radius: 20px;
  margin-bottom: 5px;
  padding: 10px;
}


.test-right__text span{
  color: #FF4343;
  font-size: 25px;
  font-weight: 700;
}

.row3{
  margin-top: 50px;

}
.col4{
  max-width: 370px;
  width: 100%;
}

.score{
  padding: 33px;
  font-weight: 700;
}

.score span{
  color:#FF4343
}











.contacts{
  background-color: #08254F;
  max-width: 1280px;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  color: hsl(31, 100%, 62%);
  font-weight: bolder;
}

.contacts-title{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  color: hsl(31, 100%, 62%);
  margin-top: 50px;
  padding-top: 10px;
}

.contacts-wrapper{
  display: flex;
  justify-content: space-around;
}

.contacts-form__wrapper{
  text-align: center;
  padding-bottom: 45px;
}
input{
  display: block;
  max-width: 400px;
  width: 100%;
  max-height: 90px;
  height: 90px;
  border-radius: 135px;
}

.tel{
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
  border: none;
}

.submit{
  margin-top: 40px;
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  background-color: #FF7146;
  color: #08254F;
}

.soc{
  width: 35px;
}



footer{
  font-size: 20px;
  color:#FFA03C;

}

svg{
  color:#FFA03C;

}