html,
body {
    font-family: 'font-family: "Inter", sans-serif;';
}

.navbar {
    background-color: rgba(255, 160, 60, 0.62);
}

.nav-item {
    color: black;
    font-size: 14;
}

.nav-item a {
    color: inherit
}

.header {
    background-image: url(./../img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.header-logo {}

.header-text {
    max-width: 250px;
    margin: 0 auto;
}

.header-btn {
    margin-top: 150px;
}

.inv {
    color: transparent;
    padding-bottom: 90px;
}


.mission {
    background-color: #08254F;
    margin-top: -20px;
    color: white;
}

h1 {
    padding-top: 45px;
    background: linear-gradient(56deg, #FFA03C 100%, #CC6140 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(1.5rem + 6 * (100vw - 320px) / 880);
    font-weight: bold;
}

.mission-text{
    font-size:2rem ;
    margin-top: 90px;
    max-width: 765px;
    margin-left:auto;
    margin-right: auto;
}

.mission-author{
    font-size: 1.875rem;
    margin-top: 70px;
}

.mission-author span{
    font-size: 1.563rem;
    font-weight: bold;
}





.petedsa_lopdsan{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #265DF2;
  }
  
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
    margin: 0 10px;
    }
    .swiper-navBtn{
    display: none;
    }
  }